{% extends "base.html" %} {% load static %} {% block content %}
<header>
  <!-- Sidebar -->
  {% include "partials/sidebar.html" %}
  <!-- Navbar -->
  {% include "partials/navbar.html" %}
</header>
<!-- Main Content -->
  
<div class="container-fluid">
  <section class="row mt-5 pt-4" style="">
  <div class="col-8 mx-auto my-2">
  Are you sure you want to delete {{delete}}?
  <form action="" method="post" enctype='multipart/form-data'>
  {% csrf_token %}
  {{form.as_p}}
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
  </div>
  </section>
</div>
{% endblock content %}