{% extends "base.html" %} {% load static %} {% block content %}
<header>
  {% include "partials/sidebar.html" %}
  {% include "partials/navbar.html" %}
</header>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <section>
      <div class="row">
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="justify-content-between p-md-1">
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <h4>Total Appointments</h4>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{appointments}}</h2>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt fa-3x me-4"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="justify-content-between p-md-1">
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <h4>Completed Appointments</h4>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{completed}}</h2>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-check fa-3x me-4"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="justify-content-between p-md-1">
                <div class="d-flex flex-row justify-content-between">
                  <div>
                    <h4>Pending Appointements</h4>
                    <div class="align-self-center">
                      <h2 class="h1 mb-0">{{pending}}</h2>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-clipboard-list fa-3x"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="justify-content-between p-md-1">
              <div class="d-flex flex-row justify-content-between">
                <div>
                  <h4>Confirmed Appointments</h4>
                  <div class="align-self-center">
                    <h2 class="h1 mb-0">{{confirmed}}</h2>
                  </div>
                </div>
                <div class="align-self-center">
                  <i class="fas fa-couch fa-3x"></i>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  </section>
  </div>
</main>

{% endblock content %}