{% extends "base.html" %} {% load static %} {% block content %}
<header>
  {% include "partials/sidebar.html" %}
  {% include "partials/navbar.html" %}
</header>

<main style="margin-top: 58px">
  <div class="container pt-4">
{% comment %} Add timing to the table {% endcomment %}
<a href="{% url 'employee_timing_create' %}" class="btn btn-primary">Add Timing</a>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
<h3>Timing</h3>
  <thead>
    <tr>
    <th class="th-sm">Shift
      </th>
      <th class="th-sm">Time
      </th>
        <th class="th-sm">Edit
        </th>
        <th class="th-sm">Delete
        </th>

    </tr>
  </thead>
  <tbody>
    {% for time in timing %}
    <tr>
    <td>{{time.shift}}</td>
      <td>{{time.time_slot}}</td>
       <td>
        <a class="ml-3" href="{% url 'employee_timing_edit' time.id  %}">
                <i class="fa fa-edit text-primary"></i>
        </a>
        </td>
       <td>
        <a class="ml-3" href="{% url 'employee_timing_delete' time.id %}">
                <i class="fa fa-trash text-danger"></i>
        </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
 
</table>
</div>
</main>
{% endblock %}