{% extends "core/core_base.html" %}
{% load static %}
{% block content %}

    <div class="container pt-5 mt-5">
        <div class="py-5">
         <section class="choose">
    <div>
      <!-- <span class="text-white font-size"></span> -->
      <br />
      <span class="font-size-lg" style="color: #b79e6e"> GHARPAR </span>
      <!-- <P style="font-size:16px;color: #FFFFFF;margin-top: 30px;">Pakistan first Salon providing the best online services.</P> -->
      <hr style="height: 2px; color: white; width: 60px; margin-top: 40px" />
    </div>
    <div>
      <span class="choose-top"><i class="bi bi-geo-alt"></i></span>
      <span class="font-size-lg">ADDRESS</span>
      <span class="mt-3 fs-6">
        Main Anbar road Swabi Khyber Pakhtunkhwa Pakistan
      </span>
      <br /><br />
    </div>
    <div style="background-color: #d4cec1">
      <span class="choose-top"><i class="bi bi-telephone"></i></span>
      <span class="font-size-lg">PHONES</span>
      <span class="mt-3 fs-6">
        Phone: + 01 234 567 88 <br />
        Phone:+ 01 234 567 89
      </span>
      <br /><br /><br />
    </div>
    <div style="background-color: #ccbea5">
      <span class="choose-top"><i class="bi bi-clock"></i></span>
      <span class="font-size-lg">TIMING</span>
      <span class="mt-3 fs-6">
        Monday-Friday: 9:00 – 18:00 <br />
        Saturday: 11:00 – 17:00
      </span>
      <br /><br /><br />
    </div>
  </section>
            <div class="row my-4">
                <div class="col-lg-5">
                    <h2 class="display-5 fw-bold">Stylists</h2>
                </div>
            </div>
            <div class="row ">
            
            {% for employee in employees %}
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="{{employee.user.image.url}}" alt="" style="width:100px;height:100px;object-fit:cover;"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">{{employee.user.first_name|title}} {{employee.user.last_name|title}}</h5><span class="small text-uppercase text-muted">
                        {{employee.position}}</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://web.facebook.com/" target="_blank" class="social-link"><i class="bi-facebook">
                            
                            </i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"  class="social-link"><i class="bi-twitter"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}