{% extends "core/core_base.html" %}
{% load static %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/jquery.datetimepicker.css' %}"
/>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'jquery.datetimepicker.css' %}"
/>
<script>
  $(document).ready(function() {
  $("#id_employee").on('change', function() {
   $("#date-label").addClass('d-none');
      $("#datetimepicker").addClass('d-none');
    $("#datetimepicker").addClass('d-none');
      $("#time-label").addClass('d-none');
      $("#id_time").addClass('d-none');
    var employee = $(this).val();
    $.ajax({
      url: '/validate_employee/',
      data: {
        'employee': employee
      },
      method: 'POST',
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
      setTimeout(function() {
        $("#date-label").removeClass('d-none');
        $("#datetimepicker").removeClass('d-none');
        $("#datetimepicker").removeClass('d-none');
        
      $('#datetimepicker').removeAttr("disabled");
      
      }, 500);
        }
      }
    });});

  });
</script>


  <section class="header pt-5 mt-5" id="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="w-50 mx-auto my-5">
    <h1 class="text-center">Get appointment</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_employee">Employee</label>
        <select class="form-control" id="id_employee" name="employee">
          <option value="" name="employee">Select employee</option>
          {% for employee in employees %}
          <option value="{{employee.id}}">{{employee.user.first_name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="id_date" id="date-label" class="d-none">Date</label>
        <input
          id="datetimepicker"
          value="pick your date"
          class="form-control d-none"
          type="button"
          disabled
        />
        <input type="hidden" id="date" name="date" />
      </div>
      <div class="form-group">
        <label for="id_time"  id="time-label" class="d-none">Time</label>
        <select class="form-control d-none" name="time" id="id_time"></select>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-2">book now</button>
    </form>
  </div>
            </div>
        </div>
    </div>
    </section>
<script>

  //   jQuery('#datetimepicker').datetimepicker();
  //  jQuery('#datetimepicker').datetimepicker({
  //   minDate:'-2022/01/10',//yesterday is minimum date(for today use 0 or -1970/01/01)
  //  maxDate:'+2022/01/10',//tomorrow is maximum date calendar
  // //  startDate:new Date(),//7 days from now is maximum date calendar
  //  hours12:true,

  // });
  // jQuery('#datetimepicker').datetimepicker({
  // //  datepicker:true,
  //  allowTimes:[
  //   '12:00', '13:00', '15:00',
  //   '17:00', '17:05', '17:20', '19:00', '20:00'
  //  ],
  //  disabledWeekDays:[0,1],
  //  weeks:true,
  // });

  jQuery("#datetimepicker").datetimepicker({
    timepicker: false,

    formatDate: "Y/m/d",
    minDate: "-1970/01/01", //yesterday is minimum date(for today use 0 or -1970/01/01)
    maxDate: "+1970/01/07", //tomorrow is maximum date calendar
    //disabledDates:[{%for date in data.holidays %}'{{date}}',{%endfor%}],
    disabledWeekDays: [0],
    format: "Y-m-d",
    step: 15,
    validateOnBlur: false,

    
  });
  $("#input").datetimepicker(validate);
  document.addEventListener("contextmenu", function (e) {
    e.preventDefault();
  });
  document.addEventListener("keydown", function (e) {
    if (event.keyCode == 123) {
      return false;
    }
    if (e.ctrlKey && e.shiftKey) {
      return false;
    }
    if (event.ctrlKey && event.keyCode == 85) {
      return false;
    }
  });
 
</script>
<script>

$("#datetimepicker").on('change', function() {
  $("#time-label").addClass('d-none');
      $("#id_time").addClass('d-none');
     var picker = $(this).val();
      var date = $('#date').val();
      date = picker.split(' ')[0];
      date = new Date(date).toISOString().slice(0, 10);
      
       $('#date').val(date);
      $('#datetimepicker').val(date);
      console.log(date)
      $.ajax({
        url: '/validate_date/',
        data: {
          'date': date
        },
        method: 'POST',
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("This is holiday.");
            $('#datetimepicker').val('');
          }
          else{
             setTimeout(function() {
        $("#time-label").removeClass('d-none');
        $("#id_time").removeClass('d-none');
        
      $('#id_time').removeAttr("disabled");
      }, 500);
            var time = $('#id_time')
            time.empty();
            time.append($('<option>', {
              value: "",
              text: "Select Time"
            }));
            for (var i = 0; i < data.times.length; i++) {
              var time_str = data.times[i];
              var time_arr = time_str.split(':');
              var hour = time_arr[0];
              var min = time_arr[1];
              var am_pm = hour >= 12 ? 'pm' : 'am';
              hour = hour % 12;
              hour = hour ? hour : 12;
              min = min < 10 ? '0' + min : min;
              var strTime = hour + ':' + min + ' ' + am_pm;
              time.append($('<option>', {
                value: time_str,
                text: strTime
              }));
            }
          }

        }
      });
  });

</script>
{% endblock %}