{% extends "core/core_base.html" %} {% load static %} {% block content %}
<div class="container mt-5 pt-5">
{% if messages %}
          {% for message in messages %}
          <div
            class="alert {{ message.tags }} alert-dismissible fade show"
            role="alert"
          >
          {{ message| capfirst }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
    <div class="table-responsive">
      <table class="table table-hover table-borderless">
      {% if order_services %}
      
      
        <thead>
          <tr>
            <th>Service</th>
            <th>Time</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for order in order_services %}
          <tr>

            <td>
              <div class="d-flex align-items-center">
                {% if order.service.image %}
                <img class="rounded-circle " src="{{order.service.image.url}}" width="30">
                {% endif %}
                <span class="mx-1">{{order.service.name}}</span>
              </div>
            </td>
            <td>{{order.service.duration}} minutes<br></td>
            <td>{{order.service.price}}</td>
            
            <td>
              <a href="{% url 'cart_delete' order.id %}">
                <i class="bi bi-trash-fill text-danger"></i>
            </a>
            </td>
          </tr>
          {% endfor %}
          <tr>
          <td><b>Total</b> </td>
          <td>{{total_duration}}</td>
          <td>{{total_price}}</td>
          <td></td>
          </tr>
          <tr>
          <a href="{% url 'booking_services' %}" class="btn btn-primary">Appointment</a>
          </tr>
        </tbody>
        {% else %}
        <h1>No services</h1>
        <a href="{% url 'services' %}" class="btn btn-primary">Book services</a>
      {% endif %}
      </table>

      
    </div>
  </div>
  </div>
{% endblock %}
