{% extends "core/core_base.html" %}
{% load static %}
{% block content %}


  <section class="header pt-5 mt-5" id="">
    <div class="container">
      <div class="row align-left justify-content-center align-items-center">

        <div class="col-12 col-md-12 col-lg-6">
          <div class="text-wrapper">
            <h1 class="mb-4 display-1 title"><strong>Welcome
                to the<br>Gharpar</strong></h1>
            <p class="mb-4 display-7 text-color">Beauty Salon in pakistan <br>
              Where Beauty and Wellness Align</p>
            <div class="mt-3">
              <a href="#" class="btn btn-primary btn-lg display-4">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <img class="img-fluid rounded-2 "
            src="https://images.unsplash.com/photo-1493256338651-d82f7acb2b38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJhcmJlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            alt="Mobirise">
        </div>
      </div>
    </div>
  </section>

  <section class="hair">
    <div class="container">

    </div>
  </section>

 


{% endblock content %}