{% extends "core/core_base.html" %} {% load static %} {% block content %}

<main style="background-color: #ffffff">
  <section class="container-fluid hero-section">
    <div class="hero-left">
      <p class="text-primary">ENJOY THE SOOTHING EXPERIENCE</p>
      <h1>
        ESSENCE <br />
        OF NATURAL <br />
        <span class="text-primary">BEAUTY</span>
      </h1>
      <p class="mt-2">
        <a href="{% url 'services' %}" class="btn btn-primary text-white p-3"
          >Book your Appointment Now</a
        >
      </p>
    </div>
    <div class="hero-right">
      <!-- <img src="hero1.png" alt=""> -->
    </div>
  </section>

  <section class="container-fluid services">
    <div class="service-img">
      <img
        src="https://media.istockphoto.com/photos/hipster-client-visiting-barber-shop-picture-id626416508?b=1&k=20&m=626416508&s=170667a&w=0&h=_14e0cWnpoNykaFvlfAM6RgaNA1oOiIxGHGUPQuW0ho="
        alt=""
      />
    </div>
    <div class="service-heading">
      <span>HAIR</span> <br />
      <span> CUTTING </span><br />
      <span>PROFESSIONAL</span><br />
      <hr />
    </div>

    <div class="service-heading">
      <span>BEARD</span> <br />
      <span> CUTTING </span><br />
      <span>PROFESSIONAL</span><br />
      <hr />
    </div>
    <div class="service-img">
      <img
        src="https://media.istockphoto.com/photos/touching-his-perfect-beard-picture-id518100449?b=1&k=20&m=518100449&s=170667a&w=0&h=6ydDchezhsp-hO80rWXETl0_TlEMT3YZode4J64dWOk="
        alt=""
      />
    </div>
    <div class="service-img">
      <img
        src="https://media.istockphoto.com/photos/halffaced-portrait-of-serious-concentrated-confident-brutal-chic-picture-id932956896?b=1&k=20&m=932956896&s=170667a&w=0&h=8o4BSJlzqkVbhuRVINRGJIpFdQF6L19r3sqFHpeS6KQ="
        alt=""
      />
    </div>
    <div class="service-heading">
      <span>HAIR</span> <br />
      <span> COLOR </span><br />
      <span>PROFESSIONAL</span><br />
      <hr />
    </div>
    <div class="service-img-third">
      <img
        src="https://media.istockphoto.com/photos/smiling-handsome-happy-cheerful-english-male-student-wearing-leather-picture-id480557232?b=1&k=20&m=480557232&s=170667a&w=0&h=0mIUuk13uZDpJ3BEdP7y1NupvmzFImTSQcipiEestzY="
        alt=""
      />
    </div>
  </section>
  <br /><br />

  <section class="container-fluid service-counter">
    <div>
      <i class="bi bi-scissors"></i>
      <span>{{pending}}</span>
      <span>Appointements completed</span>
    </div>
    <div>
      <i class="bi bi-scissors"></i>
      <span>{{completed}}</span>
      <span>Appointements pending</span>
    </div>
    <div>
      <i class="bi bi-brush"></i>
      <span>{{reviews}}</span>
      <span>Reviews</span>
    </div>
  </section>

  <br /><br />

  <section class="container-fluid choose">
    <div>
      <span class="text-white font-size">WHY CHOOSE</span>
      <br />
      <span class="font-size-lg" style="color: #b79e6e"> OUR SALON </span>
      <hr style="height: 2px; color: white; width: 60px; margin-top: 40px" />
    </div>
    <div>
      <span class="choose-top">01.</span>

      <span class="font-size">TOP OF THE LINE</span>
      <br />
      <span class="font-size-lg">PRODUCTS</span>
      <span class="no-visible">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum amet
        quo sint corporis voluptas ducimus illo optio assumenda a repellendus.
      </span>
    </div>
    <div style="background-color: #d4cec1">
      <span class="choose-top">02.</span>

      <span class="font-size">TOP OF THE LINE</span>
      <br />
      <span class="font-size-lg">OF STYLISTS</span>
      <span class="no-visible">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum amet
        quo sint corporis voluptas ducimus illo optio assumenda a repellendus.
      </span>
    </div>
    <div style="background-color: #ccbea5">
      <span class="choose-top">03.</span>

      <span class="font-size">SPECIAL GIFTS AND </span>
      <br />
      <span class="font-size-lg">OFFERS</span>
      <span class="no-visible">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum amet
        quo sint corporis voluptas ducimus illo optio assumenda a repellendus.
      </span>
    </div>
  </section>

  <section class="container-fluid customers">
    <h2 class="font-size-lg text-center">Customer Reviews</h2>
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 8"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 9"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 10"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 7"
        ></button>
      </div>
      <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="p-4">
                <div class="customer-comment">
                <img
                    src="https://traversymedia.com/images//testimonials/jorge.jpg"
                    alt=""
                />

                <div class="text-center">
                    <h5 class="title">Aslam</h5>
                    <p class="">
                    <span style="color: rgb(16, 49, 120)">
                        Shave, Beard Cut
                    </span>
                    </p>
                    <p
                    style="margin-left: auto; align-self: start"
                    id="display_stars"
                    >
                    <span style="color: orange; font-size: 20px" id="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                    <span style="color: orange; font-size: 20px" id="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                    </p>
                </div>
                </div>
                <p class="text-secondary text-center">
                It was the one of the best experience ever.
                </p>
                <br />
            </div>
            </div>

            {% for rate in rating %}    
            <div class="carousel-item">
            <div class="p-4">
                <div class="customer-comment">
                {% if rate.image %}
                <img src="{{rate.image}}" alt="{{rate.name}}" />
                {% else %}
                <img
                    src="https://traversymedia.com/images//testimonials/jorge.jpg"
                    alt=""
                />
                {% endif %}
                <div class="text-center">
                    <h5 class="title">{{rate.name}}</h5>
                    <p class="">
                    <span style="color: rgb(16, 49, 120)">
                        {% for service in rate.services %} {{service}} {% endfor %}
                    </span>
                    </p>
                    <p
                    style="margin-left: auto; align-self: start"
                    id="display_stars"
                    >
                    {% for star in rate.stars%}
                    <span style="color: orange; font-size: 20px" id="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                    {% endfor %}
                    </p>
                </div>
                </div>
                <p class="text-secondary text-center">{{rate.comment}}</p>
                <br />
            </div>
            </div>
            {% endfor %}
        </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <br /><br />
  <section class="container-fluid choose">
    <div>
      <!-- <span class="text-white font-size"></span> -->
      <br />
      <span class="font-size-lg" style="color: #b79e6e"> GHARPAR </span>
      <!-- <P style="font-size:16px;color: #FFFFFF;margin-top: 30px;">Pakistan first Salon providing the best online services.</P> -->
      <hr style="height: 2px; color: white; width: 60px; margin-top: 40px" />
    </div>
    <div>
      <span class="choose-top"><i class="bi bi-geo-alt"></i></span>
      <span class="font-size-lg">ADDRESS</span>
      <span class="mt-3 fs-6">
         Main Anbar road Swabi Khyber Pakhtunkhwa Pakistan
      </span>
      <br /><br />
    </div>
    <div style="background-color: #d4cec1">
      <span class="choose-top"><i class="bi bi-telephone"></i></span>
      <span class="font-size-lg">PHONES</span>
      <span class="mt-3 fs-6">
        Phone: + 01 234 567 88 <br />
        Phone:+ 01 234 567 89
      </span>
      <br /><br /><br />
    </div>
    <div style="background-color: #ccbea5">
      <span class="choose-top"><i class="bi bi-clock"></i></span>
      <span class="font-size-lg">TIMING</span>
      <span class="mt-3 fs-6">
        Monday-Friday: 9:00 – 18:00 <br />
        Saturday: 11:00 – 17:00
      </span>
      <br /><br /><br />
    </div>
  </section>
</main>

{% endblock content %}
