
{% extends "base.html" %} {% load static %} {% block content %}
{% include "core/user/navbar.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}" />
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

<style>
      input{
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        box-shadow:0 1px 2px rgba(0,0,0,0.1);
      }
      input:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
      }
    </style>
<div class="container-fluid px-1 py-5 mx-auto">
    
                <div class="p-3 justify-content-center text-center">
                    <h4 class="heading">Appointment</h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-1 col-0"></div>
                            <div class="col-lg-9 col-md-11 col-12 list text-left">
                            {% comment %} {% url 'booking_employee_confrim' employee package %} {% endcomment %}
                            <form action="" id="form" method="post">
                            {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                           <input id="datetimepicker" placeholder="pick your date and time" type="button"/>
                                           <input type="hidden" id="time" name="time"/>
                                        </div>
                                    </div>
                                    <br>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                            <input type="button" onclick="setTime()" class="btn btn-primary" value="Book">
                                        </div>
                            </div>
                            </form>
                        </div> 
                </div>
<script>
//   jQuery('#datetimepicker').datetimepicker();
//  jQuery('#datetimepicker').datetimepicker({
//   minDate:'-2022/01/10',//yesterday is minimum date(for today use 0 or -1970/01/01)
//  maxDate:'+2022/01/10',//tomorrow is maximum date calendar
// //  startDate:new Date(),//7 days from now is maximum date calendar
//  hours12:true,
 
// });
// jQuery('#datetimepicker').datetimepicker({
// //  datepicker:true,
//  allowTimes:[
//   '12:00', '13:00', '15:00', 
//   '17:00', '17:05', '17:20', '19:00', '20:00'
//  ],
//  disabledWeekDays:[0,1],
//  weeks:true,
// });

jQuery('#datetimepicker').datetimepicker({
  timepicker:true,
   allowTimes:[
  '1:00', '1:30', '15:00', 
  '17:00', '17:05', '2:20', '19:00', '20:00'
 ],
 formatDate:'Y/m/d',
 minDate:'-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
 maxDate:'+1970/01/07',//tomorrow is maximum date calendar
disabledWeekDays:[0],
});
$('#input').datetimepicker(validate)
document.addEventListener('contextmenu', function(e) {
  e.preventDefault();
 });
 document.addEventListener('keydown', function(e) {
 if (event.keyCode == 123) {
  return false;
 }
 if (e.ctrlKey && e.shiftKey) {
  return false;
 }
 if (event.ctrlKey && event.keyCode == 85) {
  return false;
 }
});
  </script>

  <script>
    function setTime(){
    var time = document.getElementById('time');
    var date = document.getElementById('datetimepicker');
    time.value = date.value;
    date.addEventListener('change', function() {
      time.value = date.value;
    });
    document.getElementById('form').submit();
    }
  </script>
{% endblock %}