
{% extends "base.html" %} {% load static %} {% block content %}
{% include "core/user/navbar.html" %}
<div class="container-fluid px-1 py-5 mx-auto">
    
                <div class="p-3 justify-content-center text-center">
                    <h4 class="heading">Appointment</h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-1 col-0"></div>
                            <div class="col-lg-9 col-md-11 col-12 list text-left">
                            <form action="{% url 'booking_employee' package %}" method="post">
                            {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <select id="cars" name="employee">
                                            <option value="">Select Employee</option>
                                            {% for employee in employees %}
                                            <option value="{{employee.id}}">{{employee.user.first_name}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>   
                                    </div>
                                    <br>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                            <input type="submit" class="btn btn-primary" value="Book">
                                        </div>
                            </div>
                            
                            </form>
                        </div> 
                </div>
       

{% endblock %}