{% extends "partials/base.html" %} {% load static %} {% block content %}
<main class="container-fluid">
            <section class="row">
              <div class="col-md-6 col-lg-4">
                <!-- card -->
                <article class="p-4 rounded shadow-sm border-left mb-4">
                  <a href="#" class="d-flex align-items-center flex-column">
                   
                    <h5 class="ml-2"> <span class="bi bi-box h5"></span> Total Appointments</h5>
                    <h5 class="ml-2">{{appointments}}</h5>

                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4">
                <article class="p-4 rounded shadow-sm border-left mb-4">
                  <a href="#" class="d-flex align-items-center flex-column">
                    <h5 class="ml-2"><span class="bi bi-person-check h5"></span>  Confirmed Appointements</h5>
                    <h5 class="ml-2">{{confirmed}}</h5>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4">
                <article class="p-4 rounded shadow-sm border-left mb-4">
                  <a href="#" class="d-flex align-items-center flex-column">
                  
                    <h5 class="ml-2"><span class="bi bi-person h5"></span> Pending Appointements</h5>
                   
                    <h5 class="ml-2">  {{pending}}</h5>
                  </a>
                </article>
              </div>
            </section>

            {% comment %} <div
              class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4"
            >
              <div class="container">
                <h1 class="display-4 mb-2 text-primary">Simple</h1>
                <p class="lead text-muted">
                  Simple Admin Dashboard with Bootstrap.
                </p>
              </div> 
            </div> {% endcomment %}
          </main>
{%endblock%}