{% extends "partials/base.html" %} {% load static %} {% block content %}
<main class="container-fluid">
            <section class="row">
              <div class="col-md-6 col-lg-4">
                <!-- card -->
                <article class="p-4 rounded shadow-sm border-left mb-4">
                  <a href="#" class="d-flex align-items-center flex-column">
                   
                    <h5 class="ml-2"> <span class="bi bi-box h5"></span> Total Appointments</h5>
                    <h5 class="ml-2">{{appointments_count}}</h5>

                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4">
                <article class="p-4 rounded shadow-sm border-left mb-4">
                  <a href="#" class="d-flex align-items-center flex-column">
                    <h5 class="ml-2"><span class="bi bi-person-check h5"></span>  Confirmed Appointements</h5>
                    <h5 class="ml-2">{{confirmed}}</h5>
                  </a>
                </article>
              </div>
              <div class="col-md-6 col-lg-4">
                <article class="p-4 rounded shadow-sm border-left mb-4">
                  <a href="#" class="d-flex align-items-center flex-column">
                  
                    <h5 class="ml-2"><span class="bi bi-person h5"></span> Pending Appointements</h5>
                   
                    <h5 class="ml-2">  {{pending}}</h5>
                  </a>
                </article>
              </div>
            </section>
<br><br><br>
            {% comment %} <div
              class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4"
            >
              <div class="container">
                <h1 class="display-4 mb-2 text-primary">Simple</h1>
                <p class="lead text-muted">
                  Simple Admin Dashboard with Bootstrap.
                </p>
              </div> 
            </div> {% endcomment %}

            <h4><a href="">Recent Appointments</a></h4>
    <div class="table-responsive">
      <table class="table table-striped table-light table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Package / Services</th>
            <th>Stylist</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in appointments %}
          <tr>

            <td>
              <div class="d-flex align-items-center">
                <span class="ml-2">{{booking.customer.first_name}} {{booking.customer.last_name}}</span>
              </div>
            </td>
            <td>{{booking.customer.email}}<br></td>
            {% comment %} <td class="font-weight-bold">{{booking.service.name}} {{booking.package.name}}</td>
             {% endcomment %}
              <td>
             {% if booking.package.name %}
              {{booking.package.name}}
            {% else %}
           
            {% for service in booking.package.services.all %}
            {{service.name}}
            {% endfor %} 
             {% endif %}
            </td>
            <td>{{booking.employee | title}}</td>
            <td>{{booking.date}}</td>
            <td>
            {{booking.start_time}}
            </td>
            <td>
            {{booking.end_time}}
            </td>
           
            <td>
              
            {{booking.package.price}}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      
    </div>
          </main>
{%endblock%}